@{
	ViewData["Title"] = "Criar Registro de horas trabalhadas";
}

@{
	// Obtém a data atual ou a data passada por parâmetro
	DateTime currentDate = DateTime.Now;
	if (Context.Request.Query.ContainsKey("date"))
	{
		currentDate = DateTime.Parse(Context.Request.Query["date"]);
	}

	// Calcula a quinzena anterior e a próxima quinzena
	DateTime prevMonth = currentDate.AddMonths(-1);
	DateTime nextMonth = currentDate.AddMonths(1);
}


<div class="d-flex justify-content-end p-3">

		<button id="prevMonth" data-date="@prevMonth.ToString("yyyy-MM-dd")">Anterior</button>
		<span>@currentDate.ToString("MMMM yyyy")</span>
		<button id="nextMonth" data-date="@nextMonth.ToString("yyyy-MM-dd")">Próximo</button>

</div>
<hr />

<div class="d-flex justify-content-between m-3" >
	<button type="button" class="btn btn-light">Ver todas WBS</button>
	<button type="button" class="btn btn-primary">Primary</button>
</div>

<div class="table-responsive">

	<table class="table-sm table-bordered table-striped text-center">
		<thead>
			<tr class="align-middle">
				<th scope="col">Codigo WBS</th>
				<th scope="col"><p class="m-0">Seg</p>01</th>
				<th scope="col">Ter<br />02</th>
				<th scope="col">Qua<br />03</th>
			</tr>
		</thead>
		<tbody>
			@for (int l = 0; l < 5; l++)
			{
				<tr>
					<th>
						<div>
							<button class="btn btn-outline-secondary dropdown-toggle" type="button"
									data-bs-togle="dropdown" aria-expanded="false">
								ESCOLHER WBS
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">1</a>/li>
								<li><a class="dropdown-item" href="#">1</a>/li>
								<li><a class="dropdown-item" href="#">1</a>/li>
							</ul>
						</div>
					</th>
					@for (int c = 0; c < 16; c++)
					{
						<th>

							<input type="number" aria-label="Dia01" class="form-control" />
						</th>
					}

				</tr>
			}
		</tbody>
	</table>
</div>

@*

@for (int i = 0; i < itemsCount; i++)
{
	<input type="hidden" @string.Format("name= item_name_{0} value= {1}", i, items[i].Description)>
	<input type="hidden" @string.Format("name= item_name_{0} value= {1}", i, items[i].UnitPrice.ToString("c"))>
}
*@